<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biblioteca - Autores</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4 py-2">
                <h3 class="text-center text-uppercase fw-bold py-4">Agregar un autor</h3>
                <form id="formAgregarAutor">
                    <div class="mb-3">
                        <label for="inputPrimerNombre" class="form-label fw-bold">Primer nombre</label>
                        <input type="text" class="form-control" id="inputPrimerNombre">
                    </div>
                    <div class="mb-3">
                        <label for="inputApellido" class="form-label fw-bold">Apellido</label>
                        <input type="text" class="form-control" id="inputApellido">
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="inputNotas"
                                style="height: 100px"></textarea>
                            <label for="inputNotas" class="fw-bold">Notas</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>
            <div class="col-8">
                <h3 class="text-center text-uppercase fw-bold py-4">Listado de autores</h3>
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Primer nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for autor in autores %}
                        <tr>
                            <td class="fw-bold">{{ autor.id }}</td>
                            <td class="fst-italic fw-bold">"{{ autor.primerNombre }}"</td>
                            <td class="fst-italic fw-bold">"{{ autor.apellido }}"</td>
                            <td>
                                <a href='http://localhost:3000/api/autores/ver/{{autor.id}}' class="btn btn-info fw-bold">Ver
                                    datos</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script>
        const formAgregar = document.querySelector('#formAgregarAutor');
        // Eventos
        formAgregar.addEventListener('submit', async () => {
            let primerNombre = document.querySelector('#inputPrimerNombre').value.trim();
            let apellido = document.querySelector('#inputApellido').value.trim();
            let notas = document.querySelector('#inputNotas').value.trim();
            const response = await fetch('http://localhost:3000/api/autores', {
                method: 'POST',
                body: JSON.stringify({
                    primerNombre,
                    apellido,
                    notas,
                }),
            });
        });
    </script>
</body>

</html>