{%extends 'base.html'%}
{% from 'macros.html' import navbar %}

{% block main %}
{{ navbar('http://localhost:3000/api/authors') }}
<div class="container">
    <div class="row">
        <div class="col-6 py-2">
            <h3 class="text-center text-uppercase fw-bold py-4">Datos del autor</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2">
                        <b>Nombre completo: <div class="fw-bold text-uppercase d-inline">
                                "{{autor.primerNombre}} {{autor.apellido}}"</div></b>
                        <b class="d-block">Notas: </b>
                        <p class="fst-italic text-muted">{{autor.notas}}</p>
                        <hr>
                        <b class="d-block">Libros: </b>
                        <ul>
                            {% for libro in autor.libros %}
                            <li>{{libro.titulo}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <span class="badge bg-primary rounded-pill">#{{autor.id}}</span>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h3 class="text-center text-uppercase fw-bold py-4">Listado de libros</h3>
            <div class="d-flex justify-content-center">
                <form action="http://localhost:3000/api/escribir" method="post">
                    <div class="row">
                        <div class="col-8">
                            <select name="libroId" class="form-select" aria-label="Default select example">
                                <option selected>Seleccione el libro</option>
                                {% for libro in arregloLibros %}
                                <option class="fw-bold" value="{{libro.id}}">{{libro.titulo}}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="autorId">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary fw-bold text-uppercase">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-start">
            <button class="btn btn-info text-white mx-2">Editar</button>
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </div>
    </div>
</div>
{% endblock %}