<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Biblioteca - Libros</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-4 py-2">
        <h3 class="text-center text-uppercase fw-bold py-4">Agregar un libro</h3>
        <form id="formAgregarLibro">
          <div class="mb-3">
            <label for="inputTitulo" class="form-label fw-bold">Título</label>
            <input type="text" class="form-control" id="inputTitulo">
          </div>
          <div class="mb-3">
            <div class="mb-3">
              <div class="form-floating">
                <textarea class="form-control" id="inputDescripcion" style="height: 100px"></textarea>
                <label for="inputDescripcion" class="fw-bold">Descripción</label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
      </div>
      <div class="col-8">
        <h3 class="text-center text-uppercase fw-bold py-4">Listado de libros</h3>
        <table class="table">
          <thead class="table-primary">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Título</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for libro in libros %}
            <tr>
              <td class="fw-bold">{{ libro.id }}</td>
              <td class="fst-italic fw-bold">"{{ libro.titulo }}"</td>
              <td>
                <a href='http://localhost:3000/api/libros/ver/{{libro.id}}' class="btn btn-info">Ver datos</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script>
    const formAgregar = document.querySelector('#formAgregarLibro');

    // Eventos
    formAgregar.addEventListener('submit', async () => {
      let titulo = document.querySelector('#inputTitulo').value.trim();
      let descripcion = document.querySelector('#inputDescripcion').value.trim();
      const response = await fetch('http://localhost:3000/api/libros', {
        method: 'POST',
        body: JSON.stringify({
          titulo,
          descripcion,
        }),
      });
    });
  </script>
</body>

</html>