{% extends 'base.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
{{ navbar('http://localhost:3000/api/libros') }}
<div class="container">
  <div class="row">
    <div class="col-4 py-2">
      <h3 class="text-center text-uppercase fw-bold py-4">Agregar un libro</h3>
      <form id="formAgregarLibro" action="http://localhost:3000/api/libros" method="POST">
        <div class="mb-3">
          <label for="inputTitulo" class="form-label fw-bold">Título</label>
          <input type="text" class="form-control" id="inputTitulo" name="titulo">
        </div>
        <div class="mb-3">
          <div class="mb-3">
            <div class="form-floating">
              <textarea class="form-control" id="inputDescripcion" style="height: 100px" name="descripcion"></textarea>
              <label for="inputDescripcion" class="fw-bold">Descripción</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
    </div>
    <div class="col-8">
      <h3 class="text-center text-uppercase fw-bold py-4">Listado de libros</h3>
      <table class="table">
        <thead class="table-primary">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for libro in libros %}
          <tr>
            <td class="fw-bold">{{ libro.id }}</td>
            <td class="fst-italic fw-bold">"{{ libro.titulo }}"</td>
            <td>
              <a href='http://localhost:3000/api/books/{{libro.id}}' class="btn btn-info fw-bold">Ver datos</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{%endblock%}