{% extends 'base.html'%}
{% from 'macros.html' import navbar %}

{% block main%}
{{ navbar('http://localhost:3000/api/libros') }}
<div class="container">
    <div class="row">
        <div class="col-6 py-2">
            <h3 class="text-center text-uppercase fw-bold py-4">Datos del libro</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2">
                        <b>Título: <div class="fw-bold text-uppercase d-inline">"{{libro.titulo}}"</div></b>
                        <b class="d-block">Descripción: </b>
                        <p class="fst-italic text-muted">{{libro.descripcion}}</p>
                        <hr>
                        <b class="d-block">Autores: </b>
                        <ul>
                            {% for autor in libro.autors %}
                            <li>{{autor.primerNombre}} {{autor.apellido}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <span class="badge bg-primary rounded-pill">#{{libro.id}}</span>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <h3 class="text-center text-uppercase fw-bold py-4">Listado de autores</h3>
            <div class="d-flex justify-content-center">
                <form action="http://localhost:3000/api/escribir" method="post">
                    <div class="row">
                        <div class="col-8">
                            <select name="autorId" class="form-select" aria-label="Default select example">
                                <option selected>Seleccione el autor</option>
                                {% for autor in arregloAutores %}
                                <option class="fw-bold" value="{{autor.id}}">{{autor.primerNombre}}
                                    {{autor.apellido}}
                                </option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="libroId" value="{{libro.id}}">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary text-uppercase">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 d-flex justify-content-start">
            <button class="btn btn-info text-white mx-2">Editar</button>
            <button class="btn btn-danger" type="submit">Eliminar</button>
        </div>
    </div>
</div>
{% endblock %}